.col-md-4 img {
    width: 100%
}

.logo {
    text-align: center;
}

.logo img {
    width: 100%;
}

@media (max-width: 991px) {
    header {
        height: auto;
    }
    .logo a {
        top: auto;
    }
}